.navbar ul{
    display: flex;
    justify-content: end;
    background-color: forestgreen;
}

li{
    padding-top: 1rem;
    padding-right:5rem;
    padding-bottom: 1rem;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}